{% extends 'polls/index.html' %}

{% block content %}
    {% if dashboardVOs %}
        <h5>Quiz</h5>
        <div class="row">
            {% for vo in dashboardVOs %}
            <div class="col s12 m4 lg4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Question {{ forloop.counter }}</span>
                        <p>{{vo.question_text}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'polls:detail' vo.id %}"><i class="material-icons white-icon">receipt</i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}   
{% endblock content %}