<footer class="polls-footer page-footer" >
    <div class="container">
        <div class="row">
            <div class="right hide-on-med-and-down">
                <a href="javascript:void(0)"><i class="material-icons">thumb_up</i>
                <a href="javascript:void(0)"><i class="material-icons">contacts</i>
                <a href="javascript:void(0)"><i class="material-icons">question_answer</i>
                <a href="javascript:void(0)"><i class="material-icons">android</i>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© 2016 Copyright</div>
    </div>
</footer>